body{
  background-color: black;
}
.container{
  background-color: white;
  width: 50%;
  margin: auto;
  margin-top: 30px;
  font-family:'Times New Roman', Times, serif;
  padding-bottom: 50px;
  border-radius: 30px;
}
Table, tr, td{
  /* border: 2px solid rgb(237, 230, 230); */
  border-collapse: collapse;
  border-top: 0.5px solid rgb(219, 211, 211);
}
Table{
  width: 90%;
  margin: auto;
}
Caption{
  font-size: 20px;
  font-weight: bold;
  padding-top: 15px;
  background-color: rgb(243, 193, 101);
  width: 50%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-radius: 20px;
  color: white;
}
td{
  text-align: center;
}
th{
  text-align: left;
  background-color: dodgerblue;
  color: white;
}